<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<array>
			<dict>
				<key>icon</key>
				<string>服务中心</string>
				<key>name</key>
				<string>我的服务中心</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>我的资料.png</string>
				<key>name</key>
				<string>我的资料</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>我的问答.png</string>
				<key>name</key>
				<string>我的问答</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<array>
			<dict>
				<key>icon</key>
				<string>我的私信图标</string>
				<key>name</key>
				<string>我的私信</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>wo-de-guanzhu</string>
				<key>name</key>
				<string>我的关注</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>我的订单.png</string>
				<key>name</key>
				<string>我的订单</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<array>
			<dict>
				<key>icon</key>
				<string>我的报告.png</string>
				<key>name</key>
				<string>我的报告</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>秒表.png</string>
				<key>name</key>
				<string>我的预约</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>邀请注册.png</string>
				<key>name</key>
				<string>邀请注册</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<array>
			<dict>
				<key>icon</key>
				<string>电话.png</string>
				<key>name</key>
				<string>客服电话 010-82539927</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
